.introduction {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.introduction div:nth-child(1) {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  p:nth-child(1) {
    font-size: 90px;
    font-weight: 100;
  }
  button {
    width: 30%;
    height: 35px;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
  }
  button:hover {
    background-color: rgb(62, 62, 62);
  }
}
.introduction div:nth-child(2) {
  img {
    width: 630px;
  }
}
@media only screen and (max-width: 525px) {
  .introduction {
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 15px 20px;
  }
  .introduction div:nth-child(1) {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    p:nth-child(1) {
      font-size: 50px;
      font-weight: 100;
    }
    button {
      width: 30%;
      height: 35px;
      font-size: 16px;
      border: none;
      background-color: black;
      color: white;
      transition: all 0.3s ease-in-out;
      border-radius: 10px;
    }
    button:hover {
      background-color: rgb(62, 62, 62);
    }
  }
  .introduction div:nth-child(2) {
    img {
      width: 100%;
    }
  }
}
